{{define "alert-change"}}
<script>
    function showConfirmation() {
        Swal.fire({
            title: 'Değişiklikleri kaydetmek istediğinize emin misiniz?',
            showCancelButton: true,
            confirmButtonText: 'Kaydet',
            cancelButtonText: `Kaydetme`,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire('Kaydedildi!', '', 'success').then(() => {
                    document.querySelector("form").submit(); // Formu göndererek güncelleme işlemini gerçekleştirir
                });
            } else if (result.dismiss === Swal.DismissReason.cancel) {
                Swal.fire('Değişiklikler kaydedilmedi', '', 'info');
            }
        });
    }
</script>
{{end}}